<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购书指南</title>
</head>
<body>
<p id="p1"><b>一、订购方式</b></p>
<p>读者可致电我社网上书店咨询订购，联系电话010-63286832，传真电话010-63365686；或发邮件订购，邮箱liye@chinafph.com；或在“读者留言”栏咨询订购。<strong> </strong><br>
    由于我们每日库存变化很大，偶尔会出现缺货现象，请您先电话咨询以确认您想要订购的图书是否有货。<strong> </strong></p>
<p id="p3">
    <b>二、付款方式</b></p>
<p>读者可采用三种方式付款：<br>
    1.银行转账方式 <br>
    户 ?名：中国金融出版社<br>
    开户行：中国光大银行北京长安支行 <br>
    账? 号：0835 1812 0100 3040 06660<br>
    2.邮局汇款方式（办公通信地址）<br>
    收款地址：北京市丰台区益泽路2号<br>
    收款户名：中国金融出版社<em>(</em>汇款单备注:网上书店)<br>
    邮政编码：100071<br>
    联系电话：010-63286832；传真电话：010-63372837<br>
    注意事项：由于邮局汇款为电子汇款，您在办理汇款时，请在收款人地址栏详细填写订单号码和收货地址、邮编，以便我们能准确、快速查收您的汇款，并及时配送您所购图书，否则可能会导致您所订购的图书无法及时收到。您的汇款通常在三天以内能到达我社。<br>
    3.货到付款。<br>
    ? 北京地区四环以内的读者可以选择货到付款方式。 </p>
<p id="p4"><b>三、送书方式</b></p>
<p>1. 北京地区的读者： <br>
    北京四环以内货到付款：我们接到您的订单后，在3-4个工作日将您购买的图书送至您指定的地点，由收货人当时支付书款和运费，运费按每次5元收取； <br>
    北京四环以外读者采取款到发书方式，邮费依送货方式收取。 <br>
    2.外地读者采取款到发书方式： <br>
    国内普邮：邮局挂号包裹，国内大部分地区都可送达，一般7-15天送达,部分地区需前往邮局领取包裹，费用按图书定价的10％收取； <br>
    国内特快专递：邮费按邮局统一标准，由我社销售人员告知所需邮费，由读者承担，送货时间1-4天。 <br>
    大宗订货：可办理铁路、公路送货，由我社销售人员告知所需运费，由订货人承担。 <br>
    顺丰快递（邮费到付）：此方式适用于急需用书读者，或者海外读者包括港澳台读者。请读者单独联系我们。 </p>
<p id="p5"><b>四、退换图书</b></p>
<p>1.退换图书承诺。 <br>
    (1)如果您收到我社网上书店所购的图书发现不是您所订购的图书，您可以在收到图书7天内（以您寄出图书时包裹上的邮戳日期为准）向我社网上书店退货，我们收到您的退货后会根据您的要求为您办理退款或更换其他图书或转存我社网上书店读者个人预付款账户，用于您以后购书书款，退书的邮费由读者承担。<br>
    (2)如果您在正常使用过程中发现图书存在质量问题，请您在收到图书7日内办理退换事宜。<br>
    (3)因质量问题换书时，我们采取普通邮寄方式寄回，我们承担邮资。<br>
    (4)换书地址与您的购书地址一定要相同。 <br>
</p>
<p>2.退书的基本条件：无磨损、污迹。如果您要求更换的图书已经处于脱销状态，我们会为您办理退款手续。 </p>


</body>
</html>