<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>简单的分页插件（Jquery）</title>
    <link rel="stylesheet" type="text/css" href="css/zxf_page.css"/>
</head>
<body>

<div class="zxf_pagediv"></div>

<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/zxf_page.js" type="text/javascript"></script>
<script type="text/javascript">
    $(".zxf_pagediv").createPage({
        pageNum: 20,
        current: 6,
        backfun: function (e) {
            //console.log(e);//回调
        }
    });
</script>
<div style="text-align:center;">
    <p><a href="http://www.mycodes.net/" target="_blank"></a></p>
</div>
</body>
</html>
